<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue JS</title>
    </head>
    <body>
        <div id="app">
            <h1 v-once>{{invite}}</h1>
            <h2>{{invite}}</h2>
            <input type="text" v-on:input="changeTitle"> <a v-bind:href="link">Google</a>
            <h3>{{name}}</h3>
            <input v-model="name">
            <span v-bind:title="message">Try little tooltip. Hover this text.</span>
            <span :title="name">Hover this text again.</span>
            <span v-if="seen">Now You can see this text.</span>
            <!-- Uwaga XSS attack possible -->
            <p v-html="htmlLink"></p>
            <button v-on:click="hide">{{buttonName}}</button>
            <ul>
                <li v-for="mark in cars">{{mark.car}}</li>
            </ul>
            <ol>
                <li v-for="day in days">{{day}}</li>
            </ol>
            <button v-on:click="counter++">Increase</button>
            <button @click="counter--">Decrease</button>
            <button v-on:click="increase(2, $event)">Second increase</button>
            <p>{{ counter }} | {{ secondCounter }}</p>
            <p>{{ result() }} | {{ output }}</p>
            <p v-on:mousemove="updateCoordinates">
                Coordinates: {{x}} / {{y}}
            <span v-on:mousemove.stop>DEAD SPOT</span>
            </p>
            <input type="text" v-on:keyup.enter.space="alertMe">
        </div>
            <script type="text/javascript" src="lib/vue.js"></script>
            <script type="text/javascript" src="src/app.js"></script>
    </body>
</html>